body{
  padding: 0;
  margin: 0;
}

#main {
  width: 100%;
  height: 100vh;
}

.main-visual{
  width: 100%;
  background:linear-gradient(45deg, #00aeff3b,#22628042,#8ed9df3d);
  background-size: 200% 200%;/*サイズを大きくひきのばす*/
  animation: bggradient 40s ease infinite;
  animation-name: anim;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(.5,0,.2,1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: top left;
}

@keyframes anim {
  0%{
    transform: skewY(0deg);
    height: 100vh;
  }

  100%{
    transform: skewY(-10deg);
    height: 95vh;
  }
}


.main-text{
}

.main-text h1{
  position: absolute;
  margin: 0;
  top: 30%;
 left: 50%;
 transform: translate(-50%,-50%);
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#about {
  width: 100%;
  height: 100vh;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#title {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3em;
  font-weight: bolder;
  z-index: 1;
}

#background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background-image: url(https://into-the-program.com/uploads/3169.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}