body{
  padding: 0;
  margin: 0;
}

nav{
  height: 60px;
  position: fixed;
  z-index: 1;
  width: 100%;
}
nav li {
  list-style-type: none;
  float: right;
  margin: 45px 70px 0px 0px;
}
nav a {
  display: block;
  text-decoration: none;
  color: #181818;
  font-size: 18px;
}

#main {
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  font-family: 'Raleway', sans-serif;
}

.main-visual{
  width: 100%;
  height: 100%;
  background:linear-gradient(45deg, #00aeff3b,#22628042,#8ed9df3d);
  background-size: 200% 200%;/*サイズを大きくひきのばす*/
  animation: bggradient 40s ease infinite;
  transform-origin: top left;
  z-index: -1;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#title {
  position: absolute;
  bottom: 8%;
  left:8.2%;
  color: #181818;
  font-size: 70px;
  font-weight: bolder;
  z-index: 1;
}

#description {
  position: absolute;
  top:85%;
  left:8.5%;
  color: #181818;
  font-size: 30px;
  font-weight: bolder;
  z-index: 1;
}

.sns{
  position: relative;
  z-index: 1;
  float: left;
  top: 8%;
  left:87%;
  height: 3%;
  width: 100%;
}
.sns img{
  height: 100%;
  margin-right: 4%;
}
.sns-twitter img{
  height: 90%;
  margin-bottom: 0.1%;
}
.sns a{
  height: 3.5vh;
  width: 4vw;
}

@media screen and (max-width:865px){
  #title {
    bottom: 8%;
    left:8.2%;
    font-size: 55px;
  }
  #description {
    top:85%;
    left:8.5%;
    font-size: 25px;
  }

  .sns{
    top: 8%;
    left:80%;
    height: 3%;
    width: 100%;
  }
  .sns img{
    height: 100%;
    margin-right: 6%;
  }
}

@media screen and (max-width: 500px){
  #title {
    bottom: 8%;
    left:8.2%;
    font-size: 35px;
  }
  #description {
    top:88%;
    left:8.5%;
    font-size: 17px;
  }

  .sns{
    top: 8%;
    left:71%;
    height: 2.8%;
    width: 100%;
  }
  .sns img{
    height: 100%;
    margin-right: 8%;
  }
}